@page
@model Istrate_Alexandra_Proiect.Pages.Apartamente.DeleteModel

@{
    ViewData["Title"] = "Delete";
}


<h3>Sunteti sigur ca doriti sa stergeti acest apartament?</h3>
<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apartament.ApId)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apartament.ApId)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apartament.Adresa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apartament.Adresa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apartament.Pret)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apartament.Pret)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apartament.Descriere)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apartament.Descriere)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apartament.DataPublicare)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apartament.DataPublicare)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="Apartament.ID" />
        <input type="submit" value="Stergere" class="btn btn-danger" /> |
        <a asp-page="/Apartamente/Index">Inapoi la lista apartamentelor</a>
    </form>
</div>
